<<<<<<< HEAD
.countries {
  justify-content: center;
  //position: absolute;
  margin-bottom: 30px;
  align-content: center;
  display: flex;
  margin: 20px;
  margin-top: -40px;

  .israel {
    background-image: linear-gradient(
        to right,
        rgba(black, 0.5),
        rgba(black, 0.5)
      ),
      url(../images/tour/tour-01.jpg);
    height: 304px;
    width: 236px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .country {
      color: white;
      font-size: 60px;
      margin: flex;
      text-align: center;
      margin-top: 50px;
    }
    .price {
      color: white;
      font-size: 30px;
      margin-left: 40px;
    }
    .learn-more {
      border-radius: 25px;
      margin-top: 75px;
      margin-left: 40px;
      padding: 10px 20px;
      text-align: center;
      background-color: #79addc;
      width: 150px;
      height: 40px;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .usa {
    background-image: linear-gradient(
        to right,
        rgba(black, 0.5),
        rgba(black, 0.5)
      ),
      url(../images/tour/tour-02.jpg);
    height: 304px;
    width: 236px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 56px;
    margin-right: 56px;
    .country {
      color: white;
      font-size: 60px;
      margin: flex;
      text-align: center;
      margin-top: 50px;
    }
    .price {
      color: white;
      font-size: 30px;
      margin-left: 50px;
    }
    .learn-more {
      border-radius: 25px;
      margin-top: 75px;
      margin-left: 40px;
      padding: 10px 20px;
      text-align: center;
      background-color: #79addc;
      width: 150px;
      height: 40px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .australia {
    background-image: linear-gradient(
        to right,
        rgba(black, 0.5),
        rgba(black, 0.5)
      ),
      url(../images/tour/tour-03.jpg);
    height: 304px;
    width: 236px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .country {
      color: white;
      font-size: 60px;
      margin: flex;
      text-align: center;
      margin-top: 50px;
    }
    .price {
      color: white;
      font-size: 30px;
      margin-left: 50px;
    }
    .learn-more {
      border-radius: 25px;
      margin-top: 75px;
      margin-left: 40px;
      padding: 10px 20px;
      text-align: center;
      background-color: #79addc;
      width: 150px;
      height: 40px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .countries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 125px;
    .israel {
      height: 200px;
      .learn-more {
        margin-top: 10px;
      }
    }
    .usa {
      margin-top: 50px;
      margin-left: 57px;
      height: 200px;
      .learn-more {
        margin-top: 10px;
      }
    }
    .australia {
      margin-top: 50px;
      height: 200px;
      .learn-more {
        margin-top: 10px;
      }
    }
  }
}
=======
.countries {
  justify-content: center;
  //position: absolute;
  margin-bottom: 30px;
  align-content: center;
  display: flex;
  margin: 20px;
  margin-top: -40px;

  .israel {
    background-image: linear-gradient(
        to right,
        rgba(black, 0.5),
        rgba(black, 0.5)
      ),
      url(../images/tour/tour-01.jpg);
    height: 304px;
    width: 236px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .country {
      color: white;
      font-size: 60px;
      margin: flex;
      text-align: center;
      margin-top: 50px;
    }
    .price {
      color: white;
      font-size: 30px;
      margin-left: 40px;
    }
    .learn-more {
      border-radius: 25px;
      margin-top: 75px;
      margin-left: 40px;
      padding: 10px 20px;
      text-align: center;
      background-color: #79addc;
      width: 150px;
      height: 40px;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .usa {
    background-image: linear-gradient(
        to right,
        rgba(black, 0.5),
        rgba(black, 0.5)
      ),
      url(../images/tour/tour-02.jpg);
    height: 304px;
    width: 236px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 56px;
    margin-right: 56px;
    .country {
      color: white;
      font-size: 60px;
      margin: flex;
      text-align: center;
      margin-top: 50px;
    }
    .price {
      color: white;
      font-size: 30px;
      margin-left: 50px;
    }
    .learn-more {
      border-radius: 25px;
      margin-top: 75px;
      margin-left: 40px;
      padding: 10px 20px;
      text-align: center;
      background-color: #79addc;
      width: 150px;
      height: 40px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .australia {
    background-image: linear-gradient(
        to right,
        rgba(black, 0.5),
        rgba(black, 0.5)
      ),
      url(../images/tour/tour-03.jpg);
    height: 304px;
    width: 236px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .country {
      color: white;
      font-size: 60px;
      margin: flex;
      text-align: center;
      margin-top: 50px;
    }
    .price {
      color: white;
      font-size: 30px;
      margin-left: 50px;
    }
    .learn-more {
      border-radius: 25px;
      margin-top: 75px;
      margin-left: 40px;
      padding: 10px 20px;
      text-align: center;
      background-color: #79addc;
      width: 150px;
      height: 40px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .countries {
    display: flex;

    align-content: center;
    flex-direction: column;
    margin-top: 25px;
    .israel {
      height: 200px;
      .learn-more {
        margin-top: 10px;
      }
    }
    .usa {
      margin-top: 50px;
      margin-left: 0;
      height: 200px;
      .learn-more {
        margin-top: 10px;
      }
    }
    .australia {
      margin-top: 50px;
      height: 200px;
      .learn-more {
        margin-top: 10px;
      }
    }
  }
}
>>>>>>> f68dccdf72e15640739db33ccc2f23800448b66a
