/*unable to get color variables to work. I tried compiling
in pre pros and I made sure variables.scss is imported at the top of styles.scss*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 100; }

h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 100; }

p {
  margin-bottom: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

.hero-wrapper {
  width: 100%;
  height: 500px;
  background-color: black; }
  .hero-wrapper .hero {
    height: 500px;
    width: 1280px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/hero.jpg);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .hero-wrapper .hero .callout {
      width: 375px;
      min-height: 200px;
      text-align: center;
      margin-top: 40px; }
      .hero-wrapper .hero .callout h1 {
        font-size: 60px;
        color: white;
        margin-bottom: 35px; }
      .hero-wrapper .hero .callout .lipsum {
        color: white;
        margin-bottom: 50px; }
      .hero-wrapper .hero .callout .button {
        padding: 10px 20px;
        color: white;
        font-size: 15px;
        text-decoration: none;
        background-color: #79addc; }

@media (max-width: 768px) {
  .hero-wrapper {
    height: 150px; }
    .hero-wrapper .hero {
      width: 100%;
      height: 150px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .hero-wrapper .hero .callout h1 {
        display: none; }
      .hero-wrapper .hero .callout .lipsum {
        display: none; }
      .hero-wrapper .hero .callout .button {
        display: none; } }

nav {
  width: 80%;
  height: 90px;
  position: relative;
  margin-top: 45px;
  border-bottom: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  nav .link-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    nav .link-wrap .links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      nav .link-wrap .links a {
        color: white;
        font-size: 15px;
        text-decoration: none;
        margin-right: 10px;
        margin-left: 10px; }
    nav .link-wrap span {
      margin: 0 10px;
      color: #79addc;
      font-size: 20px;
      margin-left: 10px;
      margin-right: 10px; }
  nav .navicon {
    display: none; }

@media (max-width: 768px) {
  nav {
    width: 300px; }
    nav .link-wrap {
      margin-top: 250px;
      padding-top: 50px; }
      nav .link-wrap:hover > .links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      nav .link-wrap .links {
        margin-top: 60px;
        display: none;
        background-color: #79addc;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: -80px;
        width: 125px; }
        nav .link-wrap .links a {
          margin-bottom: 20px; }
        nav .link-wrap .links span {
          display: none; }
      nav .link-wrap .navicon {
        margin-top: -260px;
        display: block;
        color: white;
        cursor: pointer; } }

.countries {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
  -ms-flex-line-pack: center;
  align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  margin-top: -40px; }
  .countries .israel {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tour/tour-01.jpg);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
    height: 304px;
    width: 236px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .countries .israel .country {
      color: white;
      font-size: 60px;
      margin: flex;
      text-align: center;
      margin-top: 50px; }
    .countries .israel .price {
      color: white;
      font-size: 30px;
      margin-left: 40px; }
    .countries .israel .learn-more {
      border-radius: 25px;
      margin-top: 75px;
      margin-left: 40px;
      padding: 10px 20px;
      text-align: center;
      background-color: #79addc;
      width: 150px;
      height: 40px; }
      .countries .israel .learn-more a {
        color: white;
        text-decoration: none; }
  .countries .usa {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tour/tour-02.jpg);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
    height: 304px;
    width: 236px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 56px;
    margin-right: 56px; }
    .countries .usa .country {
      color: white;
      font-size: 60px;
      margin: flex;
      text-align: center;
      margin-top: 50px; }
    .countries .usa .price {
      color: white;
      font-size: 30px;
      margin-left: 50px; }
    .countries .usa .learn-more {
      border-radius: 25px;
      margin-top: 75px;
      margin-left: 40px;
      padding: 10px 20px;
      text-align: center;
      background-color: #79addc;
      width: 150px;
      height: 40px; }
      .countries .usa .learn-more a {
        color: white;
        text-decoration: none; }
  .countries .australia {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tour/tour-03.jpg);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
    height: 304px;
    width: 236px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .countries .australia .country {
      color: white;
      font-size: 60px;
      margin: flex;
      text-align: center;
      margin-top: 50px; }
    .countries .australia .price {
      color: white;
      font-size: 30px;
      margin-left: 50px; }
    .countries .australia .learn-more {
      border-radius: 25px;
      margin-top: 75px;
      margin-left: 40px;
      padding: 10px 20px;
      text-align: center;
      background-color: #79addc;
      width: 150px;
      height: 40px; }
      .countries .australia .learn-more a {
        color: white;
        text-decoration: none; }

@media (max-width: 768px) {
  .countries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 25px; }
    .countries .israel {
      height: 200px; }
      .countries .israel .learn-more {
        margin-top: 10px; }
    .countries .usa {
      margin-top: 50px;
      margin-left: 0;
      height: 200px; }
      .countries .usa .learn-more {
        margin-top: 10px; }
    .countries .australia {
      margin-top: 50px;
      height: 200px; }
      .countries .australia .learn-more {
        margin-top: 10px; } }

.booking-form {
  height: 500px; }
  .booking-form .title {
    margin: 0 auto;
    font-size: 60px;
    width: 830px;
    text-align: left;
    margin-top: 60px; }
  .booking-form .inputs .name-email {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
    .booking-form .inputs .name-email .name input {
      width: 344px;
      height: 58px;
      font-size: 18px;
      padding-left: 10px;
      border: 1px solid #79addc; }
      .booking-form .inputs .name-email .name input::-webkit-input-placeholder {
        color: black; }
      .booking-form .inputs .name-email .name input:-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .name-email .name input::-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .name-email .name input::placeholder {
        color: black; }
    .booking-form .inputs .name-email .email {
      margin-left: 25px; }
      .booking-form .inputs .name-email .email input {
        width: 453px;
        height: 58px;
        font-size: 18px;
        padding-left: 10px;
        border: 1px solid #79addc; }
        .booking-form .inputs .name-email .email input::-webkit-input-placeholder {
          color: black; }
        .booking-form .inputs .name-email .email input:-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .name-email .email input::-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .name-email .email input::placeholder {
          color: black; }
  .booking-form .inputs .country-hotel {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
    .booking-form .inputs .country-hotel .country input {
      width: 344px;
      height: 58px;
      font-size: 18px;
      padding-left: 10px;
      border: 1px solid #79addc; }
      .booking-form .inputs .country-hotel .country input::-webkit-input-placeholder {
        color: black; }
      .booking-form .inputs .country-hotel .country input:-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .country-hotel .country input::-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .country-hotel .country input::placeholder {
        color: black; }
    .booking-form .inputs .country-hotel .hotel {
      margin-left: 25px; }
      .booking-form .inputs .country-hotel .hotel input {
        width: 453px;
        height: 58px;
        font-size: 18px;
        padding-left: 10px;
        border: 1px solid #79addc; }
        .booking-form .inputs .country-hotel .hotel input::-webkit-input-placeholder {
          color: black; }
        .booking-form .inputs .country-hotel .hotel input:-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .country-hotel .hotel input::-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .country-hotel .hotel input::placeholder {
          color: black; }
  .booking-form .inputs .checkin {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
    .booking-form .inputs .checkin .in {
      width: 110px; }
      .booking-form .inputs .checkin .in p {
        padding-top: 15px;
        text-align: left;
        font-size: 18px;
        margin-left: 10px; }
    .booking-form .inputs .checkin input {
      margin-left: 15px;
      width: 698px;
      height: 58px;
      font-size: 18px;
      padding-left: 10px;
      border: 1px solid #79addc;
      background: url(../images/calendar.svg);
      background-size: 19px;
      background-position: 650px;
      background-repeat: no-repeat; }
      .booking-form .inputs .checkin input::-webkit-input-placeholder {
        color: black; }
      .booking-form .inputs .checkin input:-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .checkin input::-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .checkin input::placeholder {
        color: black; }
  .booking-form .inputs .checkout {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
    .booking-form .inputs .checkout .out {
      width: 110px; }
      .booking-form .inputs .checkout .out p {
        padding-top: 15px;
        text-align: left;
        font-size: 18px;
        margin-left: 10px; }
    .booking-form .inputs .checkout input {
      margin-left: 15px;
      width: 698px;
      height: 58px;
      font-size: 18px;
      padding-left: 10px;
      border: 1px solid #79addc;
      background: url(../images/calendar.svg);
      background-size: 19px;
      background-position: 650px;
      background-repeat: no-repeat; }
      .booking-form .inputs .checkout input::-webkit-input-placeholder {
        color: black; }
      .booking-form .inputs .checkout input:-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .checkout input::-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .checkout input::placeholder {
        color: black; }
  .booking-form .inputs .room-size {
    width: 845px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin: 0 auto; }
    .booking-form .inputs .room-size .adults {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 30px; }
      .booking-form .inputs .room-size .adults p {
        padding: 15px;
        text-align: center;
        font-size: 18px;
        margin-left: 5px; }
      .booking-form .inputs .room-size .adults input {
        margin-left: 62px;
        width: 103px;
        height: 58px;
        font-size: 18px;
        padding-left: 10px;
        border: 1px solid #79addc;
        background: url(../images/down-arrow.svg);
        background-size: 19px;
        background-position: 70px;
        background-repeat: no-repeat; }
        .booking-form .inputs .room-size .adults input::-webkit-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .adults input:-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .adults input::-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .adults input::placeholder {
          color: black; }
    .booking-form .inputs .room-size .children {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 30px;
      margin-left: 60px; }
      .booking-form .inputs .room-size .children p {
        padding: 15px;
        text-align: center;
        font-size: 18px; }
      .booking-form .inputs .room-size .children input {
        margin-left: 40px;
        width: 103px;
        height: 58px;
        font-size: 18px;
        padding-left: 10px;
        border: 1px solid #79addc;
        background: url(../images/down-arrow.svg);
        background-size: 19px;
        background-position: 70px;
        background-repeat: no-repeat; }
        .booking-form .inputs .room-size .children input::-webkit-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .children input:-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .children input::-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .children input::placeholder {
          color: black; }
    .booking-form .inputs .room-size .rooms {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 30px;
      margin-left: 60px; }
      .booking-form .inputs .room-size .rooms p {
        padding: 15px;
        text-align: center;
        font-size: 18px;
        margin-left: 5px; }
      .booking-form .inputs .room-size .rooms input {
        margin-left: 48px;
        width: 103px;
        height: 58px;
        font-size: 18px;
        padding-left: 10px;
        border: 1px solid #79addc;
        background: url(../images/down-arrow.svg);
        background-size: 19px;
        background-position: 70px;
        background-repeat: no-repeat; }
        .booking-form .inputs .room-size .rooms input::-webkit-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .rooms input:-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .rooms input::-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .rooms input::placeholder {
          color: black; }
  .booking-form .inputs .message {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
    .booking-form .inputs .message input {
      width: 818px;
      height: 192px;
      font-size: 18px;
      padding-left: 10px;
      padding-bottom: 150px;
      border: 1px solid #79addc; }
      .booking-form .inputs .message input::-webkit-input-placeholder {
        color: black; }
      .booking-form .inputs .message input:-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .message input::-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .message input::placeholder {
        color: black; }
  .booking-form .inputs .submit {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .booking-form .inputs .submit .button {
      border-radius: 25px;
      width: 813px;
      height: 61px;
      padding: 10px 20px;
      color: white;
      font-size: 15px;
      text-decoration: none;
      background-color: #79addc;
      text-align: center;
      padding-top: 21px; }

@media (max-width: 768px) {
  .booking-form .title {
    margin-left: 20px;
    font-size: 30px; }
  .booking-form .inputs .name-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .booking-form .inputs .name-email .name {
      margin-left: 20px; }
      .booking-form .inputs .name-email .name input {
        width: 75%; }
    .booking-form .inputs .name-email .email {
      margin-left: 20px; }
      .booking-form .inputs .name-email .email input {
        margin-top: 10px;
        width: 75%; }
  .booking-form .inputs .country-hotel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .booking-form .inputs .country-hotel .country {
      margin-left: 20px; }
      .booking-form .inputs .country-hotel .country input {
        width: 75%; }
    .booking-form .inputs .country-hotel .hotel {
      margin-left: 20px; }
      .booking-form .inputs .country-hotel .hotel input {
        margin-top: 10px;
        width: 75%; }
  .booking-form .inputs .checkin {
    width: 75%; }
  .booking-form .inputs .checkout {
    width: 75%; }
  .booking-form .inputs .room-size .adults p {
    margin-left: 0px; }
  .booking-form .inputs .room-size .adults input {
    margin-left: 0px;
    max-width: 30%; }
  .booking-form .inputs .room-size .children p {
    margin-left: -80px; }
  .booking-form .inputs .room-size .children input {
    margin-left: 0px;
    max-width: 30%; }
  .booking-form .inputs .room-size .rooms p {
    margin-left: -80px; }
  .booking-form .inputs .room-size .rooms input {
    margin-left: 0px;
    max-width: 30%; }
  .booking-form .inputs .message input {
    -webkit-box-pack: none;
    -ms-flex-pack: none;
    justify-content: none;
    max-width: 75%; }
  .booking-form .inputs .submit .button {
    width: 407px;
    margin-bottom: 50px; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 425px;
  width: 100%;
  height: 100px;
  background-color: #79addc; }
  .footer .footer-container {
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto; }
    .footer .footer-container .logo {
      margin-top: 10px; }
    .footer .footer-container .copyright {
      margin-top: 25px;
      font-size: 12px;
      color: white;
      margin-right: 300px;
      margin-left: 300px; }
    .footer .footer-container .socialmedia {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .footer-container .socialmedia a {
        margin-left: 10px;
        margin-top: 25px;
        float: right;
        height: 23px;
        width: 23px;
        text-decoration: none;
        color: white; }

@media (max-width: 768px) {
  .footer {
    margin-top: 500px;
    height: 100px; }
    .footer .footer-container .copyright {
      margin-left: 50px;
      margin-right: 50px; } }
