/*unable to get color variables to work. I tried compiling
in pre pros and I made sure variables.scss is imported at the top of styles.scss*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 100; }

h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 100; }

p {
  margin-bottom: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }

.hero-wrapper {
  width: 100%;
  height: 500px;
  background-color: black; }
  .hero-wrapper .hero {
    height: 500px;
    width: 1280px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/hero.jpg);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .hero-wrapper .hero .callout {
      width: 375px;
      min-height: 200px;
      text-align: center;
      margin-top: 40px; }
      .hero-wrapper .hero .callout h1 {
        font-size: 60px;
        color: white;
        margin-bottom: 35px; }
      .hero-wrapper .hero .callout .lipsum {
        color: white;
        margin-bottom: 50px; }
      .hero-wrapper .hero .callout .button {
        padding: 10px 20px;
        color: white;
        font-size: 15px;
        text-decoration: none;
        background-color: #79addc; }

nav {
  width: 980px;
  height: 90px;
  margin: 0 auto;
  margin-top: 45px;
  border-bottom: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  nav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    nav .links a {
      color: white;
      font-size: 15px;
      text-decoration: none;
      margin-right: 10px;
      margin-left: 10px; }
  nav span {
    margin: 0 10px;
    color: #79addc;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px; }

.countries {
  position: absolute;
  margin-bottom: 100px;
  -ms-flex-line-pack: center;
  align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  margin-top: 450px; }
  .countries .israel {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tour/tour-01.jpg);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
    height: 304px;
    width: 236px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 55px;
    margin-left: 215px; }
    .countries .israel .country {
      color: white;
      font-size: 60px;
      margin: flex;
      text-align: center;
      margin-top: 50px; }
    .countries .israel .price {
      color: white;
      font-size: 30px;
      margin-left: 40px; }
    .countries .israel .learn-more {
      border-radius: 25px;
      margin-top: 75px;
      margin-left: 40px;
      padding: 10px 20px;
      text-align: center;
      background-color: #79addc;
      width: 150px;
      height: 40px; }
      .countries .israel .learn-more a {
        color: white;
        text-decoration: none; }
  .countries .usa {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tour/tour-02.jpg);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
    height: 304px;
    width: 236px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 55px; }
    .countries .usa .country {
      color: white;
      font-size: 60px;
      margin: flex;
      text-align: center;
      margin-top: 50px; }
    .countries .usa .price {
      color: white;
      font-size: 30px;
      margin-left: 50px; }
    .countries .usa .learn-more {
      border-radius: 25px;
      margin-top: 75px;
      margin-left: 40px;
      padding: 10px 20px;
      text-align: center;
      background-color: #79addc;
      width: 150px;
      height: 40px; }
      .countries .usa .learn-more a {
        color: white;
        text-decoration: none; }
  .countries .australia {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tour/tour-03.jpg);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
    height: 304px;
    width: 236px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .countries .australia .country {
      color: white;
      font-size: 60px;
      margin: flex;
      text-align: center;
      margin-top: 50px; }
    .countries .australia .price {
      color: white;
      font-size: 30px;
      margin-left: 50px; }
    .countries .australia .learn-more {
      border-radius: 25px;
      margin-top: 75px;
      margin-left: 40px;
      padding: 10px 20px;
      text-align: center;
      background-color: #79addc;
      width: 150px;
      height: 40px; }
      .countries .australia .learn-more a {
        color: white;
        text-decoration: none; }

.booking-form {
  height: 500px; }
  .booking-form .title {
    font-size: 60px;
    margin-left: 231px;
    margin-top: 320px; }
  .booking-form .inputs .name-email {
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
    .booking-form .inputs .name-email .name {
      margin-left: 231px; }
      .booking-form .inputs .name-email .name input {
        width: 344px;
        height: 58px;
        font-size: 18px;
        padding-left: 10px;
        border: 1px solid #79addc; }
        .booking-form .inputs .name-email .name input::-webkit-input-placeholder {
          color: black; }
        .booking-form .inputs .name-email .name input:-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .name-email .name input::-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .name-email .name input::placeholder {
          color: black; }
    .booking-form .inputs .name-email .email {
      margin-left: 25px; }
      .booking-form .inputs .name-email .email input {
        width: 453px;
        height: 58px;
        font-size: 18px;
        padding-left: 10px;
        border: 1px solid #79addc; }
        .booking-form .inputs .name-email .email input::-webkit-input-placeholder {
          color: black; }
        .booking-form .inputs .name-email .email input:-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .name-email .email input::-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .name-email .email input::placeholder {
          color: black; }
  .booking-form .inputs .country-hotel {
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
    .booking-form .inputs .country-hotel .country {
      margin-left: 231px; }
      .booking-form .inputs .country-hotel .country input {
        width: 344px;
        height: 58px;
        font-size: 18px;
        padding-left: 10px;
        border: 1px solid #79addc; }
        .booking-form .inputs .country-hotel .country input::-webkit-input-placeholder {
          color: black; }
        .booking-form .inputs .country-hotel .country input:-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .country-hotel .country input::-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .country-hotel .country input::placeholder {
          color: black; }
    .booking-form .inputs .country-hotel .hotel {
      margin-left: 25px; }
      .booking-form .inputs .country-hotel .hotel input {
        width: 453px;
        height: 58px;
        font-size: 18px;
        padding-left: 10px;
        border: 1px solid #79addc; }
        .booking-form .inputs .country-hotel .hotel input::-webkit-input-placeholder {
          color: black; }
        .booking-form .inputs .country-hotel .hotel input:-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .country-hotel .hotel input::-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .country-hotel .hotel input::placeholder {
          color: black; }
  .booking-form .inputs .checkin {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
    .booking-form .inputs .checkin p {
      padding: 15px;
      text-align: center;
      font-size: 18px;
      margin-left: 10px; }
    .booking-form .inputs .checkin input {
      margin-left: 50px;
      width: 690px;
      height: 58px;
      font-size: 18px;
      padding-left: 10px;
      border: 1px solid #79addc;
      background: url(../images/calendar.svg);
      background-size: 19px;
      background-position: 650px;
      background-repeat: no-repeat; }
      .booking-form .inputs .checkin input::-webkit-input-placeholder {
        color: black; }
      .booking-form .inputs .checkin input:-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .checkin input::-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .checkin input::placeholder {
        color: black; }
  .booking-form .inputs .checkout {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
    .booking-form .inputs .checkout p {
      padding: 15px;
      text-align: center;
      font-size: 18px;
      margin-left: 5px; }
    .booking-form .inputs .checkout input {
      margin-left: 45px;
      width: 690px;
      height: 58px;
      font-size: 18px;
      padding-left: 10px;
      border: 1px solid #79addc;
      background: url(../images/calendar.svg);
      background-size: 19px;
      background-position: 650px;
      background-repeat: no-repeat; }
      .booking-form .inputs .checkout input::-webkit-input-placeholder {
        color: black; }
      .booking-form .inputs .checkout input:-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .checkout input::-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .checkout input::placeholder {
        color: black; }
  .booking-form .inputs .room-size {
    width: 845px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin: 0 auto; }
    .booking-form .inputs .room-size .adults {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 30px; }
      .booking-form .inputs .room-size .adults p {
        padding: 15px;
        text-align: center;
        font-size: 18px;
        margin-left: 5px; }
      .booking-form .inputs .room-size .adults input {
        margin-left: 45px;
        width: 103px;
        height: 58px;
        font-size: 18px;
        padding-left: 10px;
        border: 1px solid #79addc;
        background: url(../images/down-arrow.svg);
        background-size: 19px;
        background-position: 70px;
        background-repeat: no-repeat; }
        .booking-form .inputs .room-size .adults input::-webkit-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .adults input:-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .adults input::-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .adults input::placeholder {
          color: black; }
    .booking-form .inputs .room-size .children {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 30px; }
      .booking-form .inputs .room-size .children p {
        padding: 15px;
        text-align: center;
        font-size: 18px;
        margin-left: 5px; }
      .booking-form .inputs .room-size .children input {
        margin-left: 45px;
        width: 103px;
        height: 58px;
        font-size: 18px;
        padding-left: 10px;
        border: 1px solid #79addc;
        background: url(../images/down-arrow.svg);
        background-size: 19px;
        background-position: 70px;
        background-repeat: no-repeat; }
        .booking-form .inputs .room-size .children input::-webkit-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .children input:-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .children input::-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .children input::placeholder {
          color: black; }
    .booking-form .inputs .room-size .rooms {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 30px; }
      .booking-form .inputs .room-size .rooms p {
        padding: 15px;
        text-align: center;
        font-size: 18px;
        margin-left: 5px; }
      .booking-form .inputs .room-size .rooms input {
        margin-left: 45px;
        width: 103px;
        height: 58px;
        font-size: 18px;
        padding-left: 10px;
        border: 1px solid #79addc;
        background: url(../images/down-arrow.svg);
        background-size: 19px;
        background-position: 70px;
        background-repeat: no-repeat; }
        .booking-form .inputs .room-size .rooms input::-webkit-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .rooms input:-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .rooms input::-ms-input-placeholder {
          color: black; }
        .booking-form .inputs .room-size .rooms input::placeholder {
          color: black; }
  .booking-form .inputs .message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-left: 231px; }
    .booking-form .inputs .message input {
      width: 818px;
      height: 192px;
      font-size: 18px;
      padding-left: 10px;
      border: 1px solid #79addc; }
      .booking-form .inputs .message input::-webkit-input-placeholder {
        color: black; }
      .booking-form .inputs .message input:-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .message input::-ms-input-placeholder {
        color: black; }
      .booking-form .inputs .message input::placeholder {
        color: black; }
  .booking-form .inputs .submit {
    margin-left: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .booking-form .inputs .submit .button {
      width: 813px;
      height: 61px;
      border-radius: 25px;
      padding: 10px 20px;
      color: white;
      font-size: 15px;
      text-decoration: none;
      background-color: #79addc;
      text-align: center; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 425px;
  width: 1280px;
  height: 100px;
  background-color: #79addc; }
  .footer .footer-container {
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto; }
    .footer .footer-container .logo {
      margin-top: 10px; }
    .footer .footer-container .copyright {
      margin-top: 25px;
      font-size: 12px;
      color: white;
      margin-right: 300px;
      margin-left: 300px; }
    .footer .footer-container .socialmedia {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .footer-container .socialmedia a {
        margin-left: 10px;
        margin-top: 25px;
        float: right;
        height: 23px;
        width: 23px;
        text-decoration: none;
        color: white; }
