<<<<<<< HEAD
/*unable to get color variables to work. I tried compiling
in pre pros and I made sure variables.scss is imported at the top of styles.scss*/
$site-white: #fff;
$site-blue: #79addc;
=======
/*unable to get color variables to work. I tried compiling
in pre pros and I made sure variables.scss is imported at the top of styles.scss*/
$site-white: #fff;
$site-blue: #79addc;
>>>>>>> d560f0fc52669eb15117934fea1a96ab99826aa0
