nav {
  width: 80%;
  height: 92px;
  margin: 0 auto;
  border-bottom: 2px solid $site-white;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  //z-index: ;
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
    a {
      color: $site-white;
      font-size: 15px;
      text-decoration: none;
    }
  }
  .link-wrap {
    display: flex;
    align-items: center;
    background-color: blue;
    .logo {
      height: 42px;
      width: 42px;
    }
    span {
      margin: 0 10px;
      color: $site-pink;
      font-size: 20px;
    }
    .navicon {
      display: none;
      color: $site-white;
      font-size: 120%;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  nav {
    .link-wrap {
      background-color: brown;
      padding-top: 50px;

      &:hover > .links {
        display: flex;
      }
      .links {
        //display: none;
        flex-direction: column;
        margin-top: 250px;
        width: 200px;

        a {
          margin-bottom: 20px;
        }
        span {
          display: none;
        }
      }
      .navicon {
        margin-top: -250px;
        display: block;
      }
    }
  }
}
